*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: #f4ead6;
    padding: 50px 240px;

}
.navber-container{
    display: flex;
}
.logo-div{}
.logo-div h1{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.nav-div{
    margin-left: auto;
}
.nav-div ul{
    display: flex;
    align-items: center;
}
.nav-div ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: #424242; 

}
.nav-div ul li a{
    text-decoration: none;
}
/* *banner-styles-start* */
.banner-container-div{}
.banner-contant{
    width: 50%;
    margin: 50px auto;

}
.banner-titel{    
    text-align: center;
    padding: 10px 0px;
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{    
    text-align: center;
    padding: 15px 0px;color: #727272;
    font-size: 16px;
    font-weight: 400;}
.btn-primary{
    text-align: center;
    padding: 1%;
    border: 1px solid white;
    background: #ff7007;
    width: 20%;
    margin: 2% auto;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.banner-img{}
.banner-img img{    width: 100%;}
/* team styles */
.fuetures-container-section{    
    padding: 50px 300px;
    display: flex;}
.fuetures-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.fuetures-img img{}

.fuetures-text-contant{
    width: 40%;
    margin: auto 30px;
}
.fuetures-text-contant p{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;}
.quick-list{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 45px;
    font-weight: 700;}
.fearures{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;}
/* some-facts-styles */
.facts-container{}
.some-facts-container{   
    padding: 10px 240px;
    width: 25%;}
.some-facts-container h1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;}
.some-facts-container p{
    color:  #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;}
.facts-card-container{
    padding: 20px 240px;
    display: flex;
    justify-content: space-around;

}
.card {    
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2%;
    text-align: center;}
.card img{}
.card-stats{
    color: #424242;
    font-size: 45px;
    font-weight: 600;}
.card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.our-sponspors{    padding: 30px 240px;}
.sponsors-contant{}
.sponsors-contant h1{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;    
    margin-bottom: 30px;
    text-align: center;
}
.sponsors-contant p{
    color:#727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;}
.sponsors-img{display:flex;}
.sponsors-img img{    margin-left: 6%;}
/* feature-card-container */
.feature-container-section{    
    padding: 30px 240px;
    display: flex;}
.feature-contant {}
.feature-contant p{margin: 10px 10px;}
.feature-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;}
.feature-discription,.card-discription{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;}
.feature-card-container{}
.feature-card{
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 2px 20px;}
.feature-img img{    height: 85%;
}
.cards-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;}
.ten-years{
    border-radius: 8px;
    background: #FF900E;
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 5%;
    margin: 0px;
    position: relative;
    top: -118px;
    right: 85px;
}
.ten-years h1{color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;}
.ten-years h2{color: #FFF;
    font-size: 25px;
    font-weight: 500;}
footer{    
    background: rgb(255 237 201);
    width: 35%;
    margin: 10px auto;
    padding: 1%;}
footer h1{color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;}








    /* responsive-start */
    @media  screen and (max-width:576px) {
        header{
            padding: 20px;
    
        }
        .navber-container,.fuetures-container-section{
            flex-direction: column;
        }
        .logo-div{}
        .logo-div h1{
            text-align: center;
        }
     
        .nav-div ul li{
            margin: 5px 10px;
        }
       
        /* *banner-styles-start* */
        .banner-container-div{}
        .banner-contant{
            width: 100%;
            margin: 50px auto;
        
        }
        .banner-titel{        
            padding: 0px;
            font-size: 22px;
        }
        .btn-primary{width: 50%;
            padding: 0px;
        }
        .banner-img img{    width: 100%;}
        .fuetures-img{
            grid-template-columns:1fr;
        }
        .navber-container, .fuetures-container-section {
            flex-direction: column;}
         .fuetures-container-section{
            padding: 0px;
         }  
         .fuetures-img img{
            width: 100%;
         }
         .fuetures-text-contant{    width: 100%;
            margin: 5px auto;
            text-align: center;
            text-align: center;}
/* facts-card-container-styles */
    .facts-card-container {
    padding: 1px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .some-facts-container {
        padding: 1% 15%;
        width: 100%;
        text-align: justify;
    
    }
    .some-facts-container h1 {
        text-align: center;
    }
    .card {
        border-radius: 8px;
        border: 1px solid #FF900E;
        text-align: center;
    }
    .our-sponspors{    padding: 10px 25px;}
    
    element.style {
}
    .sponsors-img {
    flex-direction: column;
    gap: 20px;
}
/* feature-section */
.feature-container-section {
    flex-direction: column;
}
.feature-container-section {
    padding: 0px;
}
.feature-card {
    padding: 2px 20px;
}.feature-img img {
    width: 100%;
}.feature-contant p {
    margin: 10px auto;
}
.ten-years {
    margin: 0px auto;
    position: static;
    top: 0px;
    right: 0px;
}


        }
    @media screen and (min-width:576px) and (max-width:960px) {
        
        header{
            padding: 20px;
    
        }
        .navber-container{
            flex-direction: column;
        }
        .logo-div{}
        .logo-div h1{
            text-align: center;
        }
        .nav-div{
            margin: 20px auto;
        }
        .nav-div ul{
            
        }
        .nav-div ul li{
            margin: 5px 10px;
        }
        .nav-div ul li a{
        }
        /* *banner-styles-start* */
        .banner-container-div{}
        .banner-contant{
            width: 100%;
            margin: 50px auto;
        
        }
        .banner-titel{        
            padding: 0px;
            font-size: 22px;
        }
        .banner-description{ }
        .btn-primary{width: 50%;
            padding: 0px;
        }
        .banner-img{}
        .banner-img img{    width: 100%;}

        .fuetures-img{
            grid-template-columns:1fr;
        }
        .navber-container, .fuetures-container-section {
            flex-direction: column;}
         .fuetures-container-section{
            padding: 0px;
         }  
         .fuetures-img img{
            width: 100%;
         }
         .fuetures-text-contant{      width: 85%;
            margin: 5px auto;
            text-align: center;
            text-align: center;}
            /* facts-card-container-styles */
        .facts-card-container {
        padding: 1px 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        }
        .some-facts-container {
            padding: 0;
            width: 100%;
            text-align: justify;
        }
        .card{padding: 0px;}
        .sponsors-img {
            flex-direction: column;
            gap: 20px;
        }
        .feature-container-section {
            flex-direction: column;
        }
        .feature-container-section {
            padding: 0px;
        }
        .feature-card {
            padding: 2px 20px;
        }.feature-img img {
            width: 100%;
        }.feature-contant p {
            margin: 10px auto;
        }
        .ten-years {
            margin: 0px auto;
            position: static;
            top: 0px;
            right: 0px;
        }
        
        }
        
        









    
   



